* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.3s ease;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

header {
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: white;
}
header nav {
  width: 99%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
  padding: 14px;
}
header nav .offcanvas {
  overflow-y: auto;
  max-height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}
header nav .offcanvas::-webkit-scrollbar {
  width: 6px;
}
header nav .offcanvas::-webkit-scrollbar-thumb {
  background-color: transparent;
}
header nav .reserved {
  font-size: 10px;
  color: gray;
}
header nav .menu {
  display: none;
}
header nav .menu ul li {
  border-radius: 7px;
}
header nav .menu ul li ul li {
  border-radius: 7px;
}
header nav .menu ul li ul li a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
header nav .menu ul li ul li a i {
  display: contents;
  font-size: 21px;
  color: rgb(41, 41, 41);
}
header nav .menu ul li:hover {
  background-color: rgb(239, 239, 239);
}
header nav .menu .offcanvas-backdrop {
  background-color: transparent;
}
header nav .login {
  width: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header nav .login .dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}
header nav .login a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  color: black;
  font-size: 14px;
}
header nav .login .barcodeButton {
  width: 103px;
  height: 40px;
  border-radius: 21px;
  background-color: gainsboro;
  border: none;
}
header nav .login .barcodeButton:hover {
  background-color: rgb(195, 195, 195);
}
header nav .login .loginButton {
  width: 67px;
  height: 40px;
  background-color: #FF4500;
  color: white;
  font-weight: 600;
  border-radius: 21px;
  border: none;
}
header nav .login .loginButton:hover {
  background-color: #a32c00;
}
header nav #Searchform {
  width: 55%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: relative;
}
header nav #Searchform i {
  position: absolute;
  left: 14px;
  color: rgb(78, 78, 78);
}
header nav #Searchform input {
  width: 100%;
  height: 40px;
  background-color: #E2E7E9;
  border-radius: 21px;
  padding: 7px;
  padding-left: 40px;
  border: none;
}
header nav .reddit-images {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
header nav .reddit-images p {
  font-size: 27px;
  display: contents;
  color: #FF4500;
  font-weight: 800;
}
header nav .reddit-images img {
  width: 33px;
  height: 33px;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 58px;
}
main .modal {
  position: fixed;
  top: 9%;
  left: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  z-index: 1;
}
main .modal #container {
  width: 300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .modal #container #register {
  width: 92%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .modal #container #register input {
  display: block;
  width: 71%;
  height: 40px;
  margin: 10px 13px;
  padding: 10px;
  font-size: 1.1em;
  color: rgba(11, 177, 224, 0.82);
  border-radius: 3px;
  border: 1px solid gainsboro;
}
main .modal #container #register input[type=submit] {
  width: 71%;
  height: 48px;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal #container #tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
main .modal #container #tabs #rt {
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: green;
  border: none;
}
main .modal #container #tabs #lt {
  width: 48%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: green;
  border: none;
}
main .modal #container #tabs .tabs {
  display: table-cell;
  width: 30%;
  background-color: rgba(11, 177, 224, 0.82);
  padding: 10px;
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ffffff;
  border-bottom: 0px;
  position: relative;
  font-size: 1.3em;
  color: #ffffff;
}
main .modal #container #tabs .tabs:hover, main .modal #container #tabs .tabs p {
  cursor: pointer;
}
main .modal #cont {
  width: 100%;
  height: 300px;
  border: 2px solid #ffffff;
}
main .modal #cont input {
  display: block;
  width: 71%;
  height: 40px;
  margin: 10px 13px;
  padding: 10px;
  font-size: 1.1em;
  color: rgba(11, 177, 224, 0.82);
  border-radius: 3px;
  border: 1px solid gainsboro;
}
main .modal #cont input[type=submit] {
  width: 71%;
  height: 48px;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal #cont #clear {
  clear: both;
}
main .modal #cont .comm {
  position: absolute;
  visibility: hidden;
}
main .modal #cont #login {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 92%;
}
main .modal #cont #login input[type=submit] {
  width: 71%;
  height: 48px;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal #cont h3 {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 15px;
  font-size: 1.5em;
  color: orangered;
}
main .modal #cont #forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 92%;
  height: auto;
}
main .modal #cont #forgot .forgett {
  width: 92%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
}
main .modal #cont #forgot .forgett input {
  display: block;
  width: 71%;
  height: 40px;
  margin: 10px 13px;
  padding: 10px;
  font-size: 1.1em;
  color: rgba(11, 177, 224, 0.82);
  border-radius: 3px;
  border: 1px solid gainsboro;
}
main .modal #cont #forgot .forgett input[type=submit] {
  width: 71%;
  height: 48px;
  background-color: orangered;
  border: 1px solid orangered;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal #cont #forgot h3 {
  display: block;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: orangered;
}
main .modal #cont #forgot div {
  margin-top: 30px;
}
main .modal #cont p {
  padding: 10px 15px;
  font-size: 1.3em;
  color: #ffffff;
}
main .modal .modal-content {
  width: 100%;
  height: 585px;
  padding: 7px;
  display: flex;
  justify-content: start;
  align-items: center;
  top: 0%;
  gap: 3px;
  flex-direction: column;
  padding: 14px;
}
main .modal .modal-content .logins {
  width: 90%;
  height: 40px;
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 21px;
  color: gray;
}
main .modal .modal-content .forum {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
}
main .modal .modal-content .forum input {
  width: 80%;
  height: 50px;
  border-radius: 21px;
  border: 1px solid gainsboro;
  padding: 14px;
  background-color: rgb(234, 234, 234);
}
main .modal .modal-content .or {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
main .modal .modal-content .or p {
  width: 66%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .modal .modal-content .or .line {
  width: 100%;
  height: 1px;
  background-color: gainsboro;
}
main .modal .modal-content .sign {
  width: 80%;
  height: 40px;
  background-color: transparent;
  border: 1px solid gainsboro;
  border-radius: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  padding: 14px;
}
main .modal .modal-content .sign i {
  font-size: 21px;
}
main .modal .modal-content .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
main .modal .modal-content .buttons button {
  width: 148px;
  height: 33px;
  border: 1px solid orangered;
  background-color: orangered;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
main .modal .modal-content .buttons button:hover {
  background-color: white;
  color: orangered;
}
main .modal .modal-content p {
  width: 100%;
  height: auto;
  font-size: 15px;
}
main .modal .modal-content .cloose {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}
main .modal .modal-content .cloose .close {
  width: 7%;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .discover {
  width: 79%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
main .discover .news {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
}
main .discover .news .community {
  position: fixed;
  top: 14%;
  right: 5%;
  width: 313px;
  min-height: 300px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 14px;
  padding-left: 14px;
  background-color: #F9FAFA;
  border-radius: 21px;
}
main .discover .news .community p {
  font-size: 12px;
  color: gray;
}
main .discover .news .community .communiti {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 7px;
  padding-top: 7px;
  padding-left: 7px;
}
main .discover .news .community .communiti:hover {
  cursor: pointer;
  background-color: rgb(229, 229, 229);
}
main .discover .news .community .communiti .about {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
main .discover .news .community .communiti .about h3 {
  font-size: 12px;
}
main .discover .news .community .communiti img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}
main .discover .news #posts-container {
  width: 66%;
}
main .discover .news #posts-container .box {
  width: 98%;
  height: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .discover .news #posts-container .box .boxes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  border-bottom: 1px solid gainsboro;
  padding: 14px;
  gap: 7px;
}
main .discover .news #posts-container .box .boxes .comment-section {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
  width: 100%;
}
main .discover .news #posts-container .box .boxes .comment-section input {
  border-radius: 3px;
  border: 1px solid gainsboro;
  width: 24%;
  height: 33px;
  padding: 7px;
}
main .discover .news #posts-container .box .boxes .comment-section button {
  border-radius: 3px;
  border: 1px solid gray;
  width: 14%;
  height: 33px;
  color: black;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
main .discover .news #posts-container .box .boxes .comment-section button:hover {
  border: 1px solid orangered;
  color: white;
  background-color: orangered;
}
main .discover .news #posts-container .box .boxes .interaction-icons {
  padding-left: 7px;
  width: 99%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .discover .news #posts-container .box .boxes .interaction-icons button {
  background-color: transparent;
  border: transparent;
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-comment {
  color: rgb(49, 49, 49);
  font-size: 27px;
  transition: 0.3s ease;
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-comment:hover {
  color: rgb(203, 203, 203);
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-share {
  color: rgb(49, 49, 49);
  font-size: 27px;
  transition: 0.3s ease;
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-share:hover {
  cursor: pointer;
  color: rgb(0, 106, 255);
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-heart {
  color: rgb(49, 49, 49);
  font-size: 27px;
  transition: 0.3s ease;
}
main .discover .news #posts-container .box .boxes .interaction-icons .sends .fa-heart:hover {
  color: red;
}
main .discover .news #posts-container .box .boxes .interaction-icons .fa-bookmark {
  color: rgb(49, 49, 49);
  font-size: 27px;
  transition: 0.3s ease;
}
main .discover .news #posts-container .box .boxes .interaction-icons .fa-bookmark:hover {
  color: black;
}
main .discover .news #posts-container .box .boxes .users {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
}
main .discover .news #posts-container .box .boxes .users h1 {
  display: contents;
  font-size: 14px;
  color: rgb(33, 33, 33);
}
main .discover .news #posts-container .box .boxes .users img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
main .discover .news #posts-container .box .boxes a {
  font-size: 25px;
  color: black;
  font-weight: 600;
}
main .discover .news #posts-container .box .boxes .postImg {
  width: 100%;
  height: 100%;
  border-radius: 14px;
}
main .discover #popular-container {
  background-color: red;
  width: 100%;
  height: 210px;
  overflow: hidden;
}
main .discover #popular-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99%;
}
main .discover #popular-container .box .boxes {
  width: 99%;
  height: 95%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  border-radius: 14px;
  overflow: hidden;
}
main .discover #popular-container .box .boxes .users {
  width: 66%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  padding-bottom: 7px;
  padding-left: 14px;
  gap: 7px;
}
main .discover #popular-container .box .boxes .users img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}
main .discover #popular-container .box .boxes .users h1 {
  display: contents;
  padding-left: 14px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  font-weight: 600;
}
main .discover #popular-container .box .boxes img {
  width: 100%;
  height: 100%;
  filter: brightness(80%);
}
main .discover #popular-container .box .boxes p {
  position: absolute;
  padding-left: 14px;
  padding-bottom: 33px;
  color: white;
  font-weight: 600;
  font-size: 21px;
}
main .offcanva {
  display: block;
  position: fixed;
  overflow-y: auto;
  max-height: 100vh;
}
main .offcanva .reserved {
  width: 100%;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 10px;
  color: gray;
}
main .offcanva .offcanvas::-webkit-scrollbar {
  width: 6px;
}
main .offcanva .offcanvas::-webkit-scrollbar-thumb {
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  header nav .login .barcodeButton {
    display: none;
  }
  header nav .menu {
    display: block;
  }
  main .offcanva {
    display: none;
  }
  main .discover {
    width: 100%;
  }
  main .discover #popular-container {
    width: 100%;
  }
}
@media screen and (max-width: 960px) {
  header nav #Searchform {
    width: 66%;
  }
  header nav .reddit-images p {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  header nav {
    gap: 10px;
  }
  header nav .login {
    width: 33%;
  }
  header nav #Searchform {
    width: 36%;
  }
}
@media screen and (max-width: 450px) {
  header nav {
    gap: 10px;
  }
  header nav .login .dropdownes {
    display: none;
  }
}