* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: background-color 0.3s ease;
}

.dark-mode {
    background-color: black;
    color: white;
}

header {
    width: 100%;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;

    nav {
        width: 99%;
        height: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        padding: 14px;

  
        .offcanvas {
            overflow-y: auto;
            max-height: 100vh;
            scrollbar-width: thin;
            scrollbar-color: transparent transparent;
            -ms-overflow-style: none;
            left: -1px;
            top: 58px;
            width: 21%;
            border-right: 1px solid gainsboro;
        }

        .offcanvas::-webkit-scrollbar {
            width: 6px;
        }

        .offcanvas::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        .reserved {
            font-size: 10px;
            color: gray;
        }

        .menu {
            display: none;

            ul {
                li {
                    border-radius: 7px;

                    ul {
                        li {
                            border-radius: 7px;

                            a {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                gap: 14px;

                                i {
                                    display: contents;
                                    font-size: 21px;
                                    color: rgb(41, 41, 41);
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: rgb(239, 239, 239);
                    }
                }
            }

            .offcanvas-backdrop {
                background-color: transparent;
            }
        }

        .login {
            width: 18%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            .switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 26px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: .4s;
                transition: .4s;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 5px;
                bottom: 3px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

            input:checked+.slider {
                background-color: #2196F3;
            }

            input:focus+.slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked+.slider:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }

            /* Rounded sliders */
            .slider.round {
                width: 55px;
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }

            .dark-mode {
                background-color: #1a1a1a; // Dark mode arkaplan rengi
                color: #ffffff; // Dark mode metin rengi
            }

            a {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 14px;
                color: black;
                font-size: 14px;
            }

            .barcodeButton {
                width: 103px;
                height: 40px;
                border-radius: 21px;
                background-color: gainsboro;
                border: none;

                &:hover {
                    background-color: rgb(195, 195, 195);
                }
            }

            .loginButton {
                width: 67px;
                height: 40px;
                background-color: #FF4500;
                color: white;
                font-weight: 600;
                border-radius: 21px;
                border: none;

                &:hover {
                    background-color: #a32c00;
                }
            }
        }

        #Searchform {
            width: 55%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: center;
            position: relative;

            i {
                position: absolute;
                left: 14px;
                color: rgb(78, 78, 78);
            }

            input {
                width: 100%;
                height: 40px;
                background-color: #E2E7E9;
                border-radius: 21px;
                padding: 7px;
                padding-left: 40px;
                border: none;
            }
        }

        .reddit-images {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 7px;

            p {
                font-size: 27px;
                display: contents;
                color: #FF4500;
                font-weight: 800;
            }

            img {
                width: 33px;
                height: 33px;
            }
        }
    }
}

main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 58px;
    
    #loginModal {
        display: block;
    }

    .modal {
        position: fixed;
        top: 9%;
        left: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: auto;
        z-index: 1;

        #container {
            width: 300px;
            margin: 0 auto;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            #register {
                width: 92%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                input {
                    display: block;
                    width: 71%;
                    height: 40px;
                    margin: 10px 13px;
                    padding: 10px;
                    font-size: 1.1em;
                    color: rgba(11, 177, 224, 0.82);
                    border-radius: 3px;
                    border: 1px solid gainsboro;
                }

                input[type="submit"] {
                    width: 71%;
                    height: 48px;
                    background-color: orangered;
                    border: 1px solid orangered;
                    color: white;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            #tabs {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;

                #rt {
                    width: 48%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    background-color: green;
                    border: none;
                }

                #lt {
                    width: 48%;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    background-color: green;
                    border: none;
                }

                .tabs {
                    display: table-cell;
                    width: 30%;
                    background-color: rgba(11, 177, 224, 0.82);
                    padding: 10px;
                    float: left;
                    text-align: center;
                    vertical-align: middle;
                    border: 2px solid #ffffff;
                    border-bottom: 0px;
                    position: relative;
                    font-size: 1.3em;
                    color: #ffffff;

                    &:hover,
                    p {
                        cursor: pointer;
                    }
                }

            }
        }



        #cont {
            width: 100%;
            height: 300px;
            border: 2px solid #ffffff;

            input {
                display: block;
                width: 71%;
                height: 40px;
                margin: 10px 13px;
                padding: 10px;
                font-size: 1.1em;
                color: rgba(11, 177, 224, 0.82);
                border-radius: 3px;
                border: 1px solid gainsboro;
            }

            input[type="submit"] {
                width: 71%;
                height: 48px;
                background-color: orangered;
                border: 1px solid orangered;
                color: white;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            #clear {
                clear: both;
            }

            .comm {
                position: absolute;
                visibility: hidden;
            }

            #login {
                visibility: visible;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 92%;
                button{
                    width: 71%;
                    height: 40px;
                    background-color: orangered;
                    border: 1px solid orangered;
                    color: white;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                input[type="submit"] {
                    width: 71%;
                    height: 48px;
                    background-color: orangered;
                    border: 1px solid orangered;
                    color: white;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            h3 {
                display: table-cell;
                vertical-align: middle;
                padding: 10px 15px;
                font-size: 1.5em;
                color: orangered;
            }

            #forgot {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 92%;
                height: auto;

                .forgett {
                    width: 92%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin-top: 0px;

                    input {
                        display: block;
                        width: 71%;
                        height: 40px;
                        margin: 10px 13px;
                        padding: 10px;
                        font-size: 1.1em;
                        color: rgba(11, 177, 224, 0.82);
                        border-radius: 3px;
                        border: 1px solid gainsboro;
                    }

                    input[type="submit"] {
                        width: 71%;
                        height: 48px;
                        background-color: orangered;
                        border: 1px solid orangered;
                        color: white;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                h3 {
                    display: block;
                    margin-top: 30px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: orangered;

                }
            }

            #forgot div {
                margin-top: 30px;
            }

            p {
                padding: 10px 15px;
                font-size: 1.3em;
                color: #ffffff;
            }


        }



        .modal-content {
            width: 100%;
            height: 585px;
            padding: 7px;
            display: flex;
            justify-content: start;
            align-items: center;
            top: 0%;
            gap: 3px;
            flex-direction: column;
            padding: 14px;

            .logins {
                width: 90%;
                height: 40px;
                background-color: rgb(233, 233, 233);
                border: none;
                border-radius: 21px;
                color: gray;
            }

            .forum {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 7px;

                input {
                    width: 80%;
                    height: 50px;
                    border-radius: 21px;
                    border: 1px solid gainsboro;
                    padding: 14px;
                    background-color: rgb(234, 234, 234);
                }
            }

            .or {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px;

                p {
                    width: 66%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .line {
                    width: 100%;
                    height: 1px;
                    background-color: gainsboro;
                }
            }

            .sign {
                width: 80%;
                height: 52px;
                background-color: transparent;
                border: 1px solid gainsboro;
                border-radius: 21px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 14px;
                padding: 14px;

                i {
                    font-size: 21px;
                }
            }

            .buttons {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 7px;

                button {
                    width: 148px;
                    height: 33px;
                    border: 1px solid orangered;
                    background-color: orangered;
                    color: white;
                    font-weight: 600;
                    border-radius: 3px;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: white;
                        color: orangered;
                    }
                }
            }

            p {
                width: 100%;
                height: auto;
                font-size: 15px;
            }

            .cloose {
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;

                .close {
                    width: 7%;
                    height: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

        }
    }

    .discover {
        width: 79%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        .wrapper {
            max-width: 1100px;
            width: 100%;
            position: relative;
            .wrapper i {
                top: 50%;
                height: 50px;
                width: 50px;
                cursor: pointer;
                font-size: 1.25rem;
                position: absolute;
                text-align: center;
                line-height: 50px;
                background: #fff;
                border-radius: 50%;
                box-shadow: 0 3px 6px rgba(0,0,0,0.23);
                transform: translateY(-50%);
                transition: transform 0.1s linear;
              }
              .wrapper i:active{
                transform: translateY(-50%) scale(0.85);
              }
              .wrapper i:first-child{
                left: -22px;
              }
              .wrapper i:last-child{
                right: -22px;
              }
              .wrapper .carousel{
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: calc((100% / 3) - 12px);
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                gap: 16px;
                border-radius: 8px;
                scroll-behavior: smooth;
                scrollbar-width: none;
              }
              .carousel::-webkit-scrollbar {
                display: none;
              }
              .carousel.no-transition {
                scroll-behavior: auto;
              }
              .carousel.dragging {
                scroll-snap-type: none;
                scroll-behavior: auto;
              }
              .carousel.dragging .card {
                cursor: grab;
                user-select: none;
              }
              .carousel :where(.card, .img) {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .carousel .card {
                scroll-snap-align: start;
                height: 342px;
                list-style: none;
                background: #fff;
                cursor: pointer;
                padding-bottom: 15px;
                flex-direction: column;
                border-radius: 8px;
              }
              .carousel .card .img {
                background: #8B53FF;
                height: 148px;
                width: 148px;
                border-radius: 50%;
              }
              .card .img img {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                object-fit: cover;
                border: 4px solid #fff;
              }
              .carousel .card h2 {
                font-weight: 500;
                font-size: 1.56rem;
                margin: 30px 0 5px;
              }
              .carousel .card span {
                color: #6A6D78;
                font-size: 1.31rem;
              }
          }
         
        .news {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: start;
            align-items: start;

            .community {
                position: fixed;
                top: 14%;
                right: 5%;
                width: 313px;
                min-height: 300px;
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                padding: 14px;
                padding-left: 14px;
                background-color: #F9FAFA;
                border-radius: 21px;

                p {
                    font-size: 12px;
                    color: gray;
                }

                .communiti {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: start;
                    align-items: start;
                    gap: 7px;
                    padding-top: 7px;
                    padding-left: 7px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgb(229, 229, 229);
                    }

                    .about {
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex-direction: column;

                        h3 {
                            font-size: 12px;
                        }
                    }

                    img {
                        width: 33px;
                        height: 33px;
                        border-radius: 50%;
                    }
                }
            }

            #posts-container {
                width: 66%;

                .box {
                    width: 98%;
                    height: 98%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .boxes {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: start;
                        flex-direction: column;
                        border-bottom: 1px solid gainsboro;
                        padding: 14px;
                        gap: 7px;

                        .comment-section {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 7px;
                            width: 100%;

                            input {
                                border-radius: 3px;
                                border: 1px solid gainsboro;
                                width: 24%;
                                height: 33px;
                                padding: 7px;
                            }

                            button {
                                border-radius: 3px;
                                border: 1px solid gray;
                                width: 14%;
                                height: 33px;
                                color: black;
                                font-weight: 600;
                                transition: background-color 0.3s ease;

                                &:hover {
                                    border: 1px solid orangered;
                                    color: white;
                                    background-color: orangered;
                                }
                            }
                        }

                        .interaction-icons {
                            padding-left: 7px;
                            width: 99%;
                            height: auto;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            button {
                                background-color: transparent;
                                border: transparent;
                            }

                            .sends {
                                display: flex;
                                justify-content: start;
                                align-items: center;
                                gap: 14px;

                                .fa-comment {
                                    color: rgb(49, 49, 49);
                                    font-size: 27px;
                                    transition: 0.3s ease;

                                    &:hover {
                                        color: rgb(203, 203, 203);
                                    }
                                }

                                .fa-share {
                                    color: rgb(49, 49, 49);
                                    font-size: 27px;
                                    transition: 0.3s ease;

                                    &:hover {
                                        cursor: pointer;
                                        color: rgb(0, 106, 255);
                                    }
                                }

                                .fa-heart {
                                    color: rgb(49, 49, 49);
                                    font-size: 27px;
                                    transition: 0.3s ease;

                                    &:hover {
                                        color: red;
                                    }
                                }
                            }

                            .fa-bookmark {
                                color: rgb(49, 49, 49);
                                font-size: 27px;
                                transition: 0.3s ease;

                                &:hover {
                                    color: black;
                                }
                            }
                        }

                        .users {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            gap: 7px;

                            h1 {
                                display: contents;
                                font-size: 14px;
                                color: rgb(33, 33, 33);
                            }

                            img {
                                width: 27px;
                                height: 27px;
                                border-radius: 50%;
                            }

                        }

                        a {
                            font-size: 25px;
                            color: black;
                            font-weight: 600;
                        }

                        .postImg {
                            width: 100%;
                            height: 100%;
                            border-radius: 14px;
                        }
                    }
                }
            }
        }

        #popular-container {
            background-color: red;
            width: 100%;
            height: 210px;
            overflow: hidden;

            .box {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 99%;

                .boxes {
                    width: 99%;
                    height: 95%;
                    position: relative;
                    display: flex;
                    justify-content: start;
                    align-items: end;
                    border-radius: 14px;
                    overflow: hidden;

                    .users {
                        width: 66%;
                        height: auto;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        position: absolute;
                        padding-bottom: 7px;
                        padding-left: 14px;
                        gap: 7px;

                        img {
                            width: 27px;
                            height: 27px;
                            border-radius: 50%;
                        }

                        h1 {
                            display: contents;
                            padding-left: 14px;
                            color: white;
                            font-weight: 600;
                            font-size: 14px;
                            font-weight: 600;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        filter: brightness(80%);
                    }

                    p {
                        position: absolute;
                        padding-left: 14px;
                        padding-bottom: 33px;
                        color: white;
                        font-weight: 600;
                        font-size: 21px;
                    }

                }
            }
        }
    }

    .offcanva {
        display: block;
        position: fixed;
        overflow-y: auto;
        max-height: 100vh;

        .reserved {
            width: 100%;
            height: 84px;
            display: flex;
            justify-content: center;
            align-items: start;
            font-size: 10px;
            color: gray;
        }

        .offcanvas::-webkit-scrollbar {
            width: 6px;
        }

        .offcanvas::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

    }

}









@media screen and (max-width: 1200px) {
    header {

        nav {
            #offcanvasNavbar {
                width: 33%;
            }

            .login {
                .barcodeButton {
                    display: none;
                }
            }

            .menu {
                display: block;
            }
        }
    }

    main {
        .offcanva {
            display: none;
        }

        .discover {
            width: 100%;

            #popular-container {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 960px) {
    header {
        nav {
            #Searchform {
                width: 66%;
            }

            .reddit-images {
                p {
                    display: none;
                }
            }
        }
    }

    main {
        .modal{
            width: 66%;
            left: 18%;
        }
        .discover {
            .news {
                .community {
                    width: 222px;
                    right: 1%;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        nav {
            gap: 10px;
            #offcanvasNavbar{
                width: 40%;
            }

            .login {
                width: 33%;
            }

            #Searchform {
                width: 36%;
            }

        }
    }

    main {
        .discover {
            .news {
                display: flex;
                justify-content: center;
                align-items: center;

                #posts-container {
                    width: 100%;
                }

                .community {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        nav {
            #offcanvasNavbar{
                width: 50%;
            }    
        }
    }
}

@media screen and (max-width: 450px) {
    header {
        nav {
            gap: 10px;
            #offcanvasNavbar{
                width: 71%;
            }   
            .login {
                .dropdownes {
                    display: none;
                }
            }


        }
    }
    main{
        .modal{
            width: 80%;
            left: 11%;
        }
    }
}